html {
  width: 100%;
  font-family: monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 70%;
  margin: auto;
  text-align: center;
  padding: 0;
  color: salmon;
  background-color: black;
  font-size: 30px;
}

#sudoku-board{
  display: inline-block;
  border: 2px solid;
  margin: 0;
  padding: 0.5em;
  background-color: black;
  color: white;
}
